<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<!--<connectionStrings>
    <add name="LocalSqlServer"
         connectionString="Server=databaseserver\server2022;Database=DBS_30102024;User ID=civilsoft;Password=space2000;Pooling=false;Trusted_Connection=false;Persist Security Info=false"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
	<appSettings>
		<!--JA_24042025-->
		<!--<add key="connect" value="81tDCFcur/lS2lxe0LoNzcx/jmXUaY3nk3Q2GDnJshjPjUiIKjehKWvFOWSxF5cP4H7jaSzUqW9lXqXh8okNXTO4zmhwrSzqM8oFPpGbeE0PnRhympO5t5dKOs9w3QIELlXEBxxqmXJ++/t2WuqM4/EEdvGIA5KP2jJc65ar8DI0EoAmlFZ4U9CThs/ZF1uxr4bU3UdZdRPSzJ6j+gWM5w==" />-->
		<!--JA_29072025-->
		<add key="connect" value="81tDCFcur/lS2lxe0LoNzcx/jmXUaY3nk3Q2GDnJshjPjUiIKjehKY1pWGzRm/L3x7Yzy03yVXBYwS3NGyic9UeNxS0hWvf7binvFTSvMMswANUtMJS2iS4zOWpSPjoK+035BSCfNAja7/5gnt5lfkByNJgKx9s27bAu7u7cKPUEar5aKnu6v3gRbwVYiABqk07ud7YPsHzZ32RRYJyrFQ==" />

		<add key="AppFilesPath" value="C:\Workspace\Robin\Projects\JA Unifocus Integration\UF_CS Integration\Files\" />
		<add key="GPGFilePath" value="C:\Workspace\Robin\Projects\JA Unifocus Integration\UF_CS Integration\GpgFiles\" />
		<add key="SourceFilePath" value="C:\Workspace\Robin\Projects\JA Unifocus Integration\DummySource\" />
		<add key="SourceArchiveFilePath" value="C:\Workspace\Robin\Projects\JA Unifocus Integration\DummySourceArchive\" />
		<add key="SecureFilesPath" value="C:\Workspace\Robin\Projects\JA Unifocus Integration\UF_CS Integration\Files\" />

		<add key="ShowEncryptButton" value="True" />
		<add key="IDForDetailLogging" value="1111111" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />


    <add key="DBOXApiSettings.APIKeyHeader" value="unifocus-api-secret" />
    <add key="DBOXApiSettings.APIKey" value="0fde24fc-1abe-45cd-b092-66483c2a29b4" />
    <add key="DBOXApiSettings.ClientId" value="cddc65afc9f2679eaec86ee9df48b2a782d32b5a2b52c051a494d7e7f3e077baa8 e97fbdb414a8d245804c379968f8f0386765ac791f4497ea88d284757d1eba" />
    <add key="DBOXApiSettings.ClientSecret" value="433a08f39962ca5b38647bbc3874b26619878f68f3a1f488dbb7256a90088a6306 3fac40e85239ab4613eaf0948c32372a202b5b446df3051a099d31ee29f064" />
    <add key="DBOXApiSettings.BaseUrl" value="https://algurg.stage.darwinbox.io/" />
    <add key="DBOXApiSettings.Endpoints.GetAllLocations" value="https://api.example.com" />
    <add key="DBOXApiSettings.Endpoints.PushEmployee" value="importapi/importdata" />
    <add key="DBOXApiSettings.Endpoints.PushEmployeeExit" value="locations/{location-code}/employees/{employee-id}/addOrUpdate" />
    <add key="DBOXApiSettings.Endpoints.GetDailyHours" value="ta/earnings?location-code={location-code}&amp;startDate={startDate}&amp;endDate={endDate}&amp;consolidate=false" />
		
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>